USE [mytlu]
GO
/****** Object:  Table [dbo].[attendance_records]    Script Date: 22/10/2025 10:12:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendance_records](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[class_session_id] [int] NULL,
	[student_code] [varchar](50) NULL,
	[attendance_status] [varchar](10) NOT NULL,
	[check_in_time] [datetime2](7) NULL,
	[method] [varchar](10) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[class_sessions]    Script Date: 22/10/2025 10:12:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[class_sessions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[class_code] [varchar](50) NULL,
	[title] [nvarchar](255) NULL,
	[session_date] [date] NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[session_location] [nvarchar](255) NULL,
	[qr_code_data] [varchar](max) NULL,
	[session_status] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[classes]    Script Date: 22/10/2025 10:12:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[classes](
	[class_code] [varchar](50) NOT NULL,
	[class_name] [nvarchar](255) NOT NULL,
	[subject_code] [varchar](50) NULL,
	[lecturer_code] [varchar](50) NULL,
	[academic_year] [varchar](50) NULL,
	[semester] [varchar](20) NULL,
	[max_students] [int] NULL,
	[class_start_date] [date] NULL,
	[class_end_date] [date] NULL,
	[schedule_summary] [nvarchar](255) NULL,
	[default_location] [nvarchar](255) NULL,
	[class_type] [varchar](10) NULL,
	[class_status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[class_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[curriculum]    Script Date: 22/10/2025 10:12:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[curriculum](
	[major_code] [varchar](50) NOT NULL,
	[subject_code] [varchar](50) NOT NULL,
	[required] [bit] NULL,
	[program_status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[major_code] ASC,
	[subject_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 22/10/2025 10:12:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[dept_code] [varchar](50) NOT NULL,
	[dept_name] [nvarchar](255) NOT NULL,
	[faculty_code] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[dept_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[dept_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enrollments]    Script Date: 22/10/2025 10:12:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enrollments](
	[student_code] [varchar](50) NOT NULL,
	[class_code] [varchar](50) NOT NULL,
	[enrollment_status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[student_code] ASC,
	[class_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[face_data]    Script Date: 22/10/2025 10:12:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[face_data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_code] [varchar](50) NULL,
	[image_path] [varchar](255) NULL,
	[face_embedding] [varchar](max) NULL,
	[is_active] [bit] NULL,
	[upload_status] [varchar](20) NULL,
	[uploaded_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faculties]    Script Date: 22/10/2025 10:12:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faculties](
	[faculty_code] [varchar](50) NOT NULL,
	[faculty_name] [nvarchar](255) NOT NULL,
	[office_location] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[faculty_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[faculty_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lecturers]    Script Date: 22/10/2025 10:12:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lecturers](
	[lecturer_code] [varchar](50) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[phone_number] [varchar](20) NULL,
	[avatar_url] [varchar](255) NULL,
	[date_of_birth] [date] NULL,
	[gender] [varchar](10) NULL,
	[dept_code] [varchar](50) NULL,
	[degree] [nvarchar](100) NULL,
	[academic_rank] [nvarchar](100) NULL,
	[office_location] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[lecturer_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 22/10/2025 10:12:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NULL,
	[email] [varchar](255) NOT NULL,
	[account_status] [varchar](10) NOT NULL,
	[user_role] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[majors]    Script Date: 22/10/2025 10:12:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[majors](
	[major_code] [varchar](50) NOT NULL,
	[major_name] [nvarchar](255) NOT NULL,
	[dept_code] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[major_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[major_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_details]    Script Date: 22/10/2025 10:12:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_details](
	[student_code] [varchar](50) NOT NULL,
	[ethnicity] [nvarchar](50) NULL,
	[religion] [nvarchar](50) NULL,
	[contact_address] [nvarchar](500) NULL,
	[father_full_name] [nvarchar](255) NULL,
	[father_phone_number] [varchar](20) NULL,
	[mother_full_name] [nvarchar](255) NULL,
	[mother_phone_number] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[student_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_identification]    Script Date: 22/10/2025 10:12:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_identification](
	[student_code] [varchar](50) NOT NULL,
	[place_of_birth] [nvarchar](255) NULL,
	[national_id] [varchar](20) NULL,
	[id_issue_date] [date] NULL,
	[id_issue_place] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[student_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 22/10/2025 10:12:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[student_code] [varchar](50) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[phone_number] [varchar](20) NULL,
	[date_of_birth] [date] NULL,
	[gender] [varchar](10) NULL,
	[admin_class] [nvarchar](100) NULL,
	[major_name] [nvarchar](255) NULL,
	[intake_year] [nvarchar](20) NULL,
	[admission_decision] [nvarchar](500) NULL,
	[academic_status] [nvarchar](200) NULL,
	[academic_status_1] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[student_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subjects]    Script Date: 22/10/2025 10:12:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subjects](
	[subject_code] [varchar](50) NOT NULL,
	[subject_name] [nvarchar](255) NOT NULL,
	[credits] [int] NOT NULL,
	[dept_code] [varchar](50) NULL,
	[sessions_per_week] [int] NULL,
	[session_duration_minutes] [int] NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[subject_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[curriculum] ADD  DEFAULT ((1)) FOR [required]
GO
ALTER TABLE [dbo].[curriculum] ADD  DEFAULT ('active') FOR [program_status]
GO
ALTER TABLE [dbo].[enrollments] ADD  DEFAULT ('enrolled') FOR [enrollment_status]
GO
ALTER TABLE [dbo].[face_data] ADD  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[face_data] ADD  DEFAULT ('pending') FOR [upload_status]
GO
ALTER TABLE [dbo].[login] ADD  DEFAULT ('active') FOR [account_status]
GO
ALTER TABLE [dbo].[login] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[login] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[subjects] ADD  DEFAULT ((1)) FOR [sessions_per_week]
GO
ALTER TABLE [dbo].[subjects] ADD  DEFAULT ((90)) FOR [session_duration_minutes]
GO
ALTER TABLE [dbo].[attendance_records]  WITH CHECK ADD FOREIGN KEY([class_session_id])
REFERENCES [dbo].[class_sessions] ([id])
GO
ALTER TABLE [dbo].[attendance_records]  WITH CHECK ADD FOREIGN KEY([student_code])
REFERENCES [dbo].[students] ([student_code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[class_sessions]  WITH CHECK ADD FOREIGN KEY([class_code])
REFERENCES [dbo].[classes] ([class_code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[classes]  WITH CHECK ADD FOREIGN KEY([lecturer_code])
REFERENCES [dbo].[lecturers] ([lecturer_code])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[classes]  WITH CHECK ADD FOREIGN KEY([subject_code])
REFERENCES [dbo].[subjects] ([subject_code])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[curriculum]  WITH CHECK ADD FOREIGN KEY([major_code])
REFERENCES [dbo].[majors] ([major_code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[curriculum]  WITH CHECK ADD FOREIGN KEY([subject_code])
REFERENCES [dbo].[subjects] ([subject_code])
GO
ALTER TABLE [dbo].[departments]  WITH CHECK ADD FOREIGN KEY([faculty_code])
REFERENCES [dbo].[faculties] ([faculty_code])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[enrollments]  WITH CHECK ADD FOREIGN KEY([class_code])
REFERENCES [dbo].[classes] ([class_code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[enrollments]  WITH CHECK ADD FOREIGN KEY([student_code])
REFERENCES [dbo].[students] ([student_code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[face_data]  WITH CHECK ADD FOREIGN KEY([student_code])
REFERENCES [dbo].[students] ([student_code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lecturers]  WITH CHECK ADD FOREIGN KEY([dept_code])
REFERENCES [dbo].[departments] ([dept_code])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[lecturers]  WITH CHECK ADD FOREIGN KEY([lecturer_code])
REFERENCES [dbo].[login] ([username])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[majors]  WITH CHECK ADD FOREIGN KEY([dept_code])
REFERENCES [dbo].[departments] ([dept_code])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[student_details]  WITH CHECK ADD FOREIGN KEY([student_code])
REFERENCES [dbo].[students] ([student_code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[student_identification]  WITH CHECK ADD FOREIGN KEY([student_code])
REFERENCES [dbo].[students] ([student_code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD FOREIGN KEY([student_code])
REFERENCES [dbo].[login] ([username])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[subjects]  WITH CHECK ADD FOREIGN KEY([dept_code])
REFERENCES [dbo].[departments] ([dept_code])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[attendance_records]  WITH CHECK ADD CHECK  (([attendance_status]='excused' OR [attendance_status]='late' OR [attendance_status]='absent' OR [attendance_status]='present'))
GO
ALTER TABLE [dbo].[attendance_records]  WITH CHECK ADD CHECK  (([method]='manual' OR [method]='face_id'))
GO
ALTER TABLE [dbo].[class_sessions]  WITH CHECK ADD CHECK  (([session_status]='cancelled' OR [session_status]='completed' OR [session_status]='scheduled'))
GO
ALTER TABLE [dbo].[classes]  WITH CHECK ADD CHECK  (([class_status]='completed' OR [class_status]='in_progress' OR [class_status]='closed' OR [class_status]='open' OR [class_status]='scheduled'))
GO
ALTER TABLE [dbo].[classes]  WITH CHECK ADD CHECK  (([class_type]='lab' OR [class_type]='theory'))
GO
ALTER TABLE [dbo].[curriculum]  WITH CHECK ADD CHECK  (([program_status]='deprecated' OR [program_status]='draft' OR [program_status]='inactive' OR [program_status]='active'))
GO
ALTER TABLE [dbo].[enrollments]  WITH CHECK ADD CHECK  (([enrollment_status]='withdrawn' OR [enrollment_status]='pending' OR [enrollment_status]='enrolled'))
GO
ALTER TABLE [dbo].[face_data]  WITH CHECK ADD CHECK  (([upload_status]='rejected' OR [upload_status]='verified' OR [upload_status]='uploaded' OR [upload_status]='pending'))
GO
ALTER TABLE [dbo].[lecturers]  WITH CHECK ADD CHECK  (([gender]='other' OR [gender]='female' OR [gender]='male'))
GO
ALTER TABLE [dbo].[login]  WITH CHECK ADD CHECK  (([account_status]='inactive' OR [account_status]='active'))
GO
ALTER TABLE [dbo].[login]  WITH CHECK ADD CHECK  (([user_role]='admin_staff' OR [user_role]='faculty_office' OR [user_role]='testing_office' OR [user_role]='dean_office' OR [user_role]='dept_head' OR [user_role]='lecturer' OR [user_role]='student'))
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD CHECK  (([gender]='other' OR [gender]='female' OR [gender]='male'))
GO
